<%- include ('partials/header.ejs') %>  
<%- include ('partials/homenavbar.ejs') %>  
<body>

<div class="container">
    <div class="bg-light p-5 rounded-lg m-3">
        <h1 class="display-4">Bem-vindo</h1>
        <p class="lead">Este é o NEWSTECH em fases de teste</p>
        <hr class="my-4">
        <p>Em breve mais atualizações</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Saiba Mais</a>
      </div>
    <% articles.forEach(article => {%>
        <br>
    
        <div class="card">
            <div class="card-header">     
                <h2><%=article.title%></h2>                   
            </div>
    
            <div class="card-body">
                <a  href="/<%= article.slug%>" class="btn btn-success">Ler artigo</a>
            </div>
       
    </div>
        <br>
    <%})%>
</div>
</body:>


<%- include ('partials/footer.ejs') %>  